.main {
    display: flex;
    flex-direction: row;
}

.btnhighscores {
    margin-left: auto;
}

.spacer {
    flex: 1;
    text-align: right;
}

.mainstartquiz {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mainstartquiz,
h2 {
    margin-bottom: 0.1em;
}

.mainstartquiz 
p,
h5,
h4 {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.btnstartquiz {
   margin: auto;
    width: fit-content; 

}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
   
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
   
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  

}