.main {
    display: flex;
    flex-direction: row;
}

.btnhighscores {
    margin-left: auto;
}

.spacer {
    flex: 1;
    text-align: right;
}


.mainstartquiz {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btnstartquiz {
   margin: auto;
    width: fit-content; 

}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    /* header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
      font-size: 80px;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 40px;
    } */
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    /* header h1 {
      width: 100%;
      text-align: center;
      font-size: 60px;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    .about h2 {
      font-size: 2em;
    }
  
    .about ul li {
      font-size: 1em;
    }
  
    .stories-about-my-work {
      font-size: 1em;
    }
  
  
    .stories-header-showcase1 {
      font-size: 1em;
    }
  
    .stories-header-showcaseanother {
      font-size: 1em;
    }
  
    .contact-section h2 {
      font-size: 1em;
    }
  
    .contact-link a {
      font-size: 1em;
    } */
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    /* header h1 {
      width: 100%;
      text-align: center;
      font-size: 40px;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    .about h2 {
      font-size: 2em;
    }
  
    .about ul li {
      font-size: 1em;
    }
  
    .stories-about-my-work {
      font-size: 1em;
    }
  
    .stories-header-showcase1 {
      font-size: 1em;
    }
  
    .stories-header-showcaseanother {
      font-size: 1em;
    }
  
    .contact-section h2 {
      font-size: 1em;
    }
  
    .contact-link a {
      font-size: 1em;
    } */

}